<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="{{ url_for('static', filename = 'css/bootstrap.min.css') }}" rel="stylesheet"/>
    <link href="{{ url_for('static', filename = 'css/style.css') }}" rel="stylesheet"/>
    <title>{% block title %} {% endblock %}</title>
</head>
<body>

    {% block body %} {% endblock %}
<script type="text/javascript" src="{{ url_for('static', filename = 'js/jquery-3.5.1.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename = 'js/bootstrap.bundle.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename = 'js/hide.js') }}"></script>
</body>
</html>