{% extends 'base.html' %}
{% include 'header.html' %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="col">
                    <div class="row justify-content-between">
                        <h3><a href="{{ url_for('hr.dep_index') }}" class="btn btn-info btn-xs btn-margin">View departments</a></h3>
                        <h3><a href="{{ url_for('hr.emp_index') }}" class="btn btn-info btn-xs btn-margin">View all employees</a></h3>
                    </div>
                </div>
                <div class="jumbotron p-3">
                    <h2>
                        Manage <b>employees</b>
                        of
                        {% if dep_flag %}
                            {% for department in departments %}
                                {% if department.id == dep_flag %}
                                    {{ department.name }}
                                {% endif %}
                            {% endfor %}
                        {% else %}
                            of all departments
                        {% endif %}
                        <button type="button" class="btn btn-success float-right" data-toggle="modal" data-target="#mymodal">Add New Employee
                        </button>
                    </h2>

                    {% with messages = get_flashed_messages() %}
                    {% if messages %}
                    {% for message in messages %}
                        <div class="alert alert-success alert-dismissible" role="alert" id="hidable">
                            <button type="button" class="close" data-dismiss="alert" area-lable="close">
                                <span area-hiden="true">x</span>
                            </button>
                            {{message}}
                        </div>
                    {% endfor %}
                    {%  endif %}
                    {% endwith %}

                    <table class="table table-hover table-dark">
                        <tr >
                            <th>№</th>
                            <th>Name</th>
                            <th>Date</th>
                            <th>Department</th>
                            <th>Salary</th>
                            <th>Action</th>
                        </tr>

                        {% for employee in employees %}
                            <tr>
                                <td>{{ employee.index }}</td>
                                <td>{{ employee.name }}</td>
                                <td>{{ employee.date }}</td>
                                <td>{{ employee.department.name}}</td>
                                <td>{{ employee.salary }}</td>
                                <td>
                                    <a href="/update" class="btn btn-warning btn-xs" data-toggle="modal" data-target="#modaledit{{ employee.id }}">Edit</a>
                                    <a href="/delete" class="btn btn-danger btn-xs" data-toggle="modal" data-target="#modaldelete{{ employee.id }}">Delete</a>
                                </td>
                            </tr>

                            <div id="modaledit{{ employee.id }}" class="modal fade" role="dialog">
                               <div class="modal-dialog">
                                  <div class="modal-content">

                                     <div class="modal-header">
                                         <h4 class="modal-title">Update employee</h4>
                                         <button type="button" class="btn btn-outline-secondary btn-xs btn-round float-right" data-dismiss="modal">X</button>
                                     </div>

                                     <div class="modal-body">
                                        <form action="{{ url_for('hr.emp_update') }}" method="POST">
                                           <div class="form-group">
                                              <label>Name:</label>
                                               <input type="hidden" name="id" value="{{ employee.id }}">
                                              <input type="text" class="form-control" name="name" value="{{ employee.name }}" required="1">
                                           </div>

                                            <div class="form-group">
                                              <label>Date of birth:</label>
                                              <input type="date" class="form-control" name="date" value="{{ employee.date }}" required="1">
                                           </div>

                                            <div class="form-group">
                                              <label>Department:</label>
                                                <select type="number" name="department_id" class="form-control form-control">
                                                    <option disabled>Choose the department if needed</option>
                                                    {% for department in departments %}
                                                        <option value="{{ department.id }}" {% if department.id == employee.department_id %}selected{% endif %}>
                                                            {{ department.name }}
                                                        </option>
                                                    {% endfor %}
                                                </select>
                                              <label>Salary:</label>
                                              <input type="number" class="form-control" name="salary" value="{{ employee.salary }}" step="0.01" required="1">
                                            </div>

                                           <div class="form-group">
                                              <button class="btn btn-primary float-right" type="submit">Update information</button>
                                           </div>
                                        </form>
                                     </div>
                                  </div>
                               </div>
                            </div>

                            <div id="modaldelete{{ employee.id }}" class="modal fade" role="dialog">
                               <div class="modal-dialog">
                                  <div class="modal-content">
                                     <div class="modal-header">
                                         <h4 class="modal-title">Delete employee's info</h4>
                                         <button type="button" class="btn btn-outline-secondary btn-xs btn-round float-right" data-dismiss="modal">X</button>
                                     </div>
                                     <div class="modal-body">
                                        <form action="{{ url_for('hr.emp_delete') }}" method="POST">
                                           <div class="form-group justify-content-center">
                                              <label>
                                                  All information about employee will be removed!<br>
                                                  Are you sure?</label>
                                               <input type="hidden" name="id" value="{{ employee.id }}">
                                               <input type="hidden" name="department_id" value="{{ dep_flag }}">
                                           </div>
                                           <div class="form-group">
                                              <button class="btn btn-primary float-right" type="submit">Delete employee's information</button>
                                           </div>
                                        </form>
                                     </div>
                                  </div>
                               </div>
                            </div>
                        {% endfor %}
                    </table>

                    <div id="mymodal" class="modal fade" role="dialog">
                       <div class="modal-dialog">
                          <div class="modal-content">

                             <div class="modal-header">
                                 <h4 class="modal-title">Add Employee</h4>
                                 <button type="button" class="btn btn-outline-secondary btn-xs btn-round float-right" data-dismiss="modal">X</button>
                             </div>

                             <div class="modal-body">
                                <form action="{{ url_for('hr.emp_insert') }}" method="POST">
                                   <div class="form-group">
                                      <label>Name:</label>
                                      <input type="text" class="form-control" name="name" required="1">
                                   </div>

                                    <div class="form-group">
                                      <label>Date of birth:</label>
                                      <input type="date" class="form-control" name="date" required="1">
                                   </div>
                                    <div class="form-group">
                                      <label>Department:</label>
                                            <select type="number" name="department_id" class="form-control form-control">
                                                <option disabled>Choose the department if needed</option>
                                                {% for department in departments %}
                                                    <option value="{{ department.id }}" {% if department.id == dep_flag %}selected{% endif %}>
                                                        {{ department.name }}
                                                    </option>
                                                {% endfor %}
                                            </select>
                                   </div>

                                    <div class="form-group">
                                        <label>Salary:</label>
                                        <input type="number" class="form-control" name="salary" value="0.00" step="0.01" required="1">
                                    </div>

                                   <div class="form-group">
                                      <button class="btn btn-primary float-right" type="submit">Add Employee</button>
                                   </div>
                                </form>
                             </div>
                          </div>
                       </div>
                    </div>
                </div>
                <div class="col">
                    <div class="row justify-content-end">
                        <h3><a href="" class="btn btn-info btn-xs btn-margin" data-toggle="modal" data-target="#modalfilter">Filter employees by DOB</a></h3>
                    </div>
                    <div id="modalfilter" class="modal fade" role="dialog">
                       <div class="modal-dialog">
                          <div class="modal-content">

                             <div class="modal-header">
                                 <h4 class="modal-title">Select date</h4>
                                 <button type="button" class="btn btn-outline-secondary btn-xs btn-round float-right" data-dismiss="modal">X</button>
                             </div>

                             <div class="modal-body">
                                <form action="{{ url_for('hr.emp_index') }}" method="POST">

                                    <div class="form-group">
                                      <label>From:</label>
                                        <input type="hidden" name="department_id" value="{{ dep_flag }}">
                                        <input type="date" class="form-control" name="first_date">
                                   </div>

                                    <div class="form-group">
                                      <label>To:</label>
                                        <input type="date" class="form-control" name="last_date">
                                   </div>

                                   <div class="form-group">
                                      <button class="btn btn-primary float-right" type="submit">Select employees</button>
                                   </div>
                                </form>
                             </div>
                          </div>
                       </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
{% endblock %}