{% extends 'base.html' %}

{% block title %} HR-management flack app {% endblock %}

{% block body %}
    <div class="jumbotron p-3">
        <div class="well text-center">
            <h1>
                Company Human Resources Management
            </h1>
        </div>
    </div>
{% endblock %}