{% extends 'base.html' %}
{% include 'header.html' %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="jumbotron p-3">

                    <h2> Manage <b>Departments</b> <button type="button" class="btn btn-success float-right"
                    data-toggle="modal" data-target="#mymodal">Add New Department</button></h2>

                    {% with messages = get_flashed_messages() %}
                    {% if messages %}
                    {% for message in messages %}
                        <div class="alert alert-success alert-dismissible" role="alert" id="hidable">
                            <button type="button" class="close" data-dismiss="alert" area-lable="close">
                                <span area-hiden="true">x</span>
                            </button>
                            {{message}}
                        </div>
                    {% endfor %}
                    {%  endif %}
                    {% endwith %}

                    <table class="table table-hover table-dark">
                        <tr>
                            <th>№</th>
                            <th>Name</th>
                            <th>Average Salary</th>
                            <th>Action</th>
                        </tr>

                        {% for department in departments %}
                            <tr>
                                <td>{{ department.index }}</td>
                                <td>{{ department.name }}</td>
                                <td>{{ department.avsalary }}</td>
                                <td>
                                    <form class="d-inline-block" action="{{ url_for('hr.emp_index') }}" method="POST">
                                        <input type="hidden" name="department_id" value="{{ department.id }}">
                                        <button class="btn btn-info btn-xs" type="submit">Department info</button>
                                    </form>
                                    <a href=" {{url_for('hr.dep_update') }}" class="btn btn-warning btn-xs" data-toggle="modal" data-target="#modaledit{{ department.id }}">Edit</a>
                                    <a href=" {{url_for('hr.dep_delete') }}" class="btn btn-danger btn-xs" data-toggle="modal" data-target="#modaldelete{{ department.id }}">Delete</a>
                                </td>
                            </tr>


                            <div id="modaledit{{ department.id }}" class="modal fade" role="dialog">
                               <div class="modal-dialog">
                                  <div class="modal-content">
                                     <div class="modal-header">
                                         <h4 class="modal-title">Update department</h4>
                                         <button type="button" class="btn btn-outline-secondary btn-xs btn-round float-right" data-dismiss="modal">X</button>
                                     </div>
                                     <div class="modal-body">
                                        <form action="{{ url_for('hr.dep_update') }}" method="POST">
                                           <div class="form-group">
                                              <label>Department Name:</label>
                                               <input type="hidden" name="id" value="{{ department.id }}">
                                              <input type="text" class="form-control" name="name" value="{{ department.name }}" required="1">
                                           </div>
                                           <div class="form-group">
                                              <button class="btn btn-primary float-right" type="submit">Update information</button>
                                           </div>
                                        </form>
                                     </div>
                                  </div>
                               </div>
                            </div>
                            <div id="modaldelete{{ department.id }}" class="modal fade" role="dialog">
                               <div class="modal-dialog">
                                  <div class="modal-content">
                                     <div class="modal-header">
                                         <h4 class="modal-title">Delete department</h4>
                                         <button type="button" class="btn btn-outline-secondary btn-xs btn-round float-right" data-dismiss="modal">X</button>
                                     </div>
                                     <div class="modal-body">
                                        <form action="{{ url_for('hr.dep_delete') }}" method="POST">
                                           <div class="form-group justify-content-center">
                                              <label>
                                                  All available information about employees will be also removed!<br>
                                                  Are you sure?</label>
                                               <input type="hidden" name="id" value="{{ department.id }}">
                                           </div>
                                           <div class="form-group">
                                              <button class="btn btn-primary float-right" type="submit">Delete information</button>
                                           </div>
                                        </form>
                                     </div>
                                  </div>
                               </div>
                            </div>
                        {% endfor %}
                    </table>

                    <div id="mymodal" class="modal fade" role="dialog">
                       <div class="modal-dialog">
                          <div class="modal-content">

                             <div class="modal-header">
                                 <h4 class="modal-title">Add Department</h4>
                                 <button type="button" class="btn btn-outline-secondary btn-xs btn-round float-right" data-dismiss="modal">X</button>
                             </div>

                             <div class="modal-body">
                                <form action="{{ url_for('hr.dep_insert') }}" method="POST">
                                   <div class="form-group">
                                      <label>Name:</label>
                                      <input type="text" class="form-control" name="name" required="1">
                                   </div>
                                   <div class="form-group">
                                      <button class="btn btn-primary float-right" type="submit">Add Department</button>
                                   </div>
                                </form>
                             </div>
                          </div>
                       </div>
                    </div>

                </div>
            </div>
        </div>

    </div>
{% endblock %}